.pageBox{
    padding: 0 50rpx;

}


.headMenu{
    // background-color: #fff;
    color: #fff;
    .jiangbei{
        float: left;
    }
    .menu{
        float: right;
        // width: 10rpx;
    }
}

.seekBox{
    margin-top: 46rpx;
    position: relative;
    .seekData{
        background-color: #2D353D;
        border: none;
        border-radius: 50rpx;
        height: 90rpx;
        padding-left: 80rpx;
        color: #fff;
    }
    .seekIcon{
        color: #9CA2B3;
        position: absolute;
        top: 30rpx;
        left: 30rpx;
    }
}
