.slideLR {
    padding:  30rpx 50rpx 0 50rpx;
    color: #fff;
    overflow: auto;

    .slideLRName {
        font-size: 36rpx;
    }

    .slideLRmenu {
        float: right;
        font-size: 26rpx;
        margin-top: 6rpx;
        color: #8F95A6;
    }

    .slideLRLoopBox {
        margin-top: 50rpx;
        // width: 1520rpx;
        height: 210rpx;
        border-bottom: 1rpx solid #2F343C;
        padding-bottom: 50rpx;
        white-space: nowrap;

        .slideLRLoopWrap {
            display: inline-block;


            .slideLRLoop {
                width: 150rpx;
                float: left;
                padding-right: 40rpx;


                .slideLRLoopImg {
                    float: left;
                    width: 150rpx;
                    height: 150rpx;
                    margin-bottom: 10rpx;
                }

                .slideLRLoopText {
                    float: left;
                    font-size: 26rpx;
                }

            }
        }


    }




}