.navBtn {

    display: flex;
    justify-content: flex-end;
    margin: 0 50rpx 50rpx 50rpx;

    text {
        color: #71768C;
        font-size: 36rpx;
    }


    .windowFourBtn {
        margin-right: 20rpx;

    }

    .colorFFF {
        color: #fff;
    }
}

.oneLoopBox {
    text-align: center;
    height: 1200rpx;

    .oneLoop {
        height: 900rpx;
        // background-color: #666;


        .oneLoopImg {
            width: 390rpx;
            height: 580rpx;
        }

        .oneLoopBookNane {
            display: block;
            font-family: 黑体;
            font-weight: bold;
            color: #fff;
            margin-top: 30rpx;
            font-size: 50rpx;
        }

        .oneLoopAuthorName {
            display: block;
            margin-top: 20rpx;
            font-size: 36rpx;
            color: #656A7B;
        }

        .borderLine {
            margin: 70rpx 180rpx 0 180rpx;
        }

        .oneLoopReaderImg {
            margin-top: 40rpx;

            image {
                width: 70rpx;
                height: 70rpx;
                margin: 0 6rpx;
            }
        }

        .oneLoopReaderNumber {
            display: block;
            font-size: 20rpx;
            color: #A2A8BA;

        }


    }
}

.fourBox {
    margin: 0 auto;
    // background-color: #f00;
    width: 570rpx;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .four {
        width: 270rpx;
        margin-bottom: 70rpx;

        .fourBookImg {
            width: 270rpx;
            height: 400rpx;
        }

        .fourBookName {
            color: #fff;
            text-align: center;
            margin-top: 14rpx;
            font-size: 28rpx;
        }

    }
}